@{
    ViewBag.Title = "Profile";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div class="container-fluid">

    <div class="row">

        <div class="col-md-4">

            <div class="text-center">
                <img src="https://via.placeholder.com/300x250" />

                <h2>Felicia Sjögren</h2>

                <a class="btn btn-primary btn-xs" href="https://www.facebook.com/ffillaan" role="button">Facebook</a>
                <a class="btn btn-primary btn-xs" href="https://twitter.com/FILLZOHR" role="button">Twitter</a>
                <a class="btn btn-primary btn-xs" href="https://www.instagram.com/feliciasjogren/?hl=sv" role="button">Instagram</a>
                <a class="btn btn-primary btn-xs" href="#" role="button">Website</a>

            </div>

        </div>

        <div class="col-md-8">

            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo erat lacus, vitae suscipit magna volutpat sit amet. Etiam sapien ligula, aliquam varius eros eget, euismod ullamcorper dui. Proin at dui sed leo varius finibus. Donec vehicula erat eleifend, suscipit ex sed, luctus lorem. Aliquam eu lacinia nunc. Sed nulla libero, congue et auctor id, dapibus a metus. Aliquam rutrum pulvinar fringilla.
            </p>

            <hr />

            <!--Body text paragraph1-->
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo erat lacus, vitae suscipit magna volutpat sit amet. Etiam sapien ligula, aliquam varius eros eget, euismod ullamcorper dui. Proin at dui sed leo varius finibus. Donec vehicula erat eleifend, suscipit ex sed, luctus lorem. Aliquam eu lacinia nunc. Sed nulla libero, congue et auctor id, dapibus a metus. Aliquam rutrum pulvinar fringilla.
            </p>

            <!--Body text paragraph2-->
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo erat lacus, vitae suscipit magna volutpat sit amet. Etiam sapien ligula, aliquam varius eros eget, euismod ullamcorper dui. Proin at dui sed leo varius finibus. Donec vehicula erat eleifend, suscipit ex sed, luctus lorem. Aliquam eu lacinia nunc. Sed nulla libero, congue et auctor id, dapibus a metus. Aliquam rutrum pulvinar fringilla.
            </p>

            <!--Body text paragraph3-->
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo erat lacus, vitae suscipit magna volutpat sit amet. Etiam sapien ligula, aliquam varius eros eget, euismod ullamcorper dui. Proin at dui sed leo varius finibus. Donec vehicula erat eleifend, suscipit ex sed, luctus lorem. Aliquam eu lacinia nunc. Sed nulla libero, congue et auctor id, dapibus a metus. Aliquam rutrum pulvinar fringilla.
            </p>

        </div>

    </div>

</div>